TOSS_API_KEY=
TOSS_SECRET_KEY=

BYBIT_API_KEY=
BYBIT_API_SECRET=

DISCORD_DAILY_WEBHOOK_URL=
DISCORD_TRADE_WEBHOOK_URL=

# Discord App review (later)
# DISCORD_TRADE_CHANNEL_ID=
# DISCORD_GUILD_ID=
# DISCORD_BOT_TOKEN=
